.blog {
	&_header {
		display: flex;
		justify-content: center;
		padding: 36px 0 20px;
	}
	p.thin_text{
		position: relative;
		padding-right: 20px;
		&::after {
			content: '';
			height: 55%;
			border: 1px solid #888;
			position: absolute;
			top: 6px;
			right: 9px;
			z-index: 1;
		}
	}
}