.reviews {
	padding: 137px 0;
	background-color: #fff9f8;
	@include mmax(992) {
		padding: 60px 0;
	}
&_content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-family: 'Ruhina';
	margin-bottom: 60px
}
&_image {
	margin-bottom: 50px;
}
&_text {
	color: #263a41;
	font-size: 18px;
	font-weight: 400;
	line-height: 35px;
	margin-bottom: 50px;
}
&_photo {
	margin-bottom: 30px;
img {
	clip-path: url(#autor);
}		
}
&_autor {
	color: #263a41;
	font-size: 22px;
	font-weight: 400;

span {
	font-family: $font;
	font-size: 15px;
	font-weight: 300;
 }
}
}
