$font: "Roboto";
$fontSize: 16px;
$color: #333333;
$pink: #ff817e;

@import "/node_modules/owl-carousel/owl-carousel/owl.carousel.css";
//@import "/node_modules/owl-carousel/owl-carousel/owl.theme.css";

html, body {
	margin: 0;
	box-sizing: border-box;
	min-width: 320px;
	font-family: $font;
	font-size: 26px;
	color: $color;
	// overflow-x: hidden;
}
*,
*:before,
*:after {
	box-sizing: border-box;
}
::placeholder {
	color: #666;
}
::selection {
	background-color: #666;
	color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}
p {
	margin: 0;
}
b,
strong {
	font-weight: bold;
}
ul,ol{
	margin: 0;
}
li {
	list-style-type: none;
}
a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}
img {
	max-width: 100%;
	display: block;
}

.container {
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
	max-width: 1170px;
	min-width: 320px;
}
.container-fluid{
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
	max-width: 1530px;
	min-width: 320px;
}
.page {
	padding: 100px 0 0;
	
	&_header {
		margin: 0 auto;
		width: 100%;
		max-width: 860px;
		text-align: center;
	}
	&_logo {
		display: flex;
		justify-content: center;
		margin-bottom: 20px;
	}
	&_suptitle {
		font-family: $font;
		font-size: 20px;
		line-height: 54px;
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		color: #888888;
		margin-bottom: 25px;
	}
	&_title {
		font-family: Rufina;
		font-size: 42px;
		line-height: 55px;
		font-weight: 700;
		color: #1e2528;
		margin-bottom: 38px;
	}
	&_text {
		font-family: $font;
		font-size: 15px;
		line-height: 28px;
		font-weight: 300;
		color: #888888;
		margin-bottom: 71px;
	}
}
.thin_text {
	font-family: $font;
	font-size: 12px;
	line-height: 30px;
	font-weight: 300;
	text-transform: uppercase;
	color: #888888;
}
.wrap {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	flex: 0 0 100%;
	max-width: 100%;
	
	&_item {
		// flex: 0 0 calc(100% / 3);
		// max-width: calc(100% / 3);
		flex: 0 0 30%;
		max-width: 30%;
		&:not(:last-child) {
			margin-right: 29px;
		}
	}
	&_content {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		border: 1px #999 solid;
		padding: 20px 20px 50px;
		&:hover {
			box-shadow: 15px 20px 40px rgba(4, 10, 50, 0.1);
			transition: .3s ease-in;
		}
	}
	&_title {
		font-family: Rufina;
		font-size: 22px;
		line-height: 27px;
		font-weight: 700;
		color: #263a41;
		margin-bottom: 30px;
	}
	&_text {
		font-family: $font;
		font-size: 14px;
		line-height: 27px;
		font-weight: 300;
		color: #888;
		margin-bottom: 45px;
	}
}
.mb140px {
	margin-bottom: 140px;
}
//  Slider
.owl-carousel {
	width: 100%;
	max-width: 964px;
	margin: auto;
}
.owl-item {
	width: 964px;
}
.owl-pagination {
	display: flex;
	justify-content: center;
	align-items: center;
}
.owl-page {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #ffc3c2;
}
.owl-page:not(:nth-child(1)) {
	margin-left: 15px;
}
.active {
	width: 11px;
	height: 11px;
	background-color: #ff817e;
}
